body{
  background-color: var(--background);
}

header{
  padding: 40px 0;
  width: 100%;
  text-align: center;
}

main{
  width: 80%;
  text-align: left;
  margin: 0 180px;

  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.main-title{
  font-size: 30px;
  padding: 20px 0;
}

.main-title-2{
  font-size: 30px;
  padding: 40px 0 20px;
}

label{
  font-family: "DIN Next", sans-serif;
  font-weight: bold;
  padding-left: 2px;
  padding-top: 20px;
}

.main-input {
  margin-top: 7px;
  padding: 10px 0px;
  padding-left: 5px;
  width: 80%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ddd;
  font-size: 1em;
}

.main-input:focus,
.main-input:hover {
  border: 1px solid var(--secundary-darker);
}

.main-input::placeholder{
  color: #333;
}

.submit-button{
  width: 80%;
  background-color: var(--secundary);
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  padding: 15px 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: ease 0.5s;
  text-align: center;
  text-decoration: none;
}

.submit-button:hover{
  background-color: var(--secundary-darker);
  cursor: pointer;
}
