
body{
  background-color: var(--primary);
}

.container{
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;

  margin: auto;
  padding: 20px 0;

  border-radius: 7px;

  background-color: var(--background);
}

.login-container h1{
  padding: 40px 0px;
  font-size: 30px;
  font-weight: 600;
}

.main-input {
  margin-top: 15px;
  padding: 10px 0px;
  padding-left: 5px;
  width: 80%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ddd;
  font-size: 1em;
}

.main-input:focus,
.main-input:hover {
  border: 1px solid var(--secundary-darker);
}

.main-input::placeholder{
  color: #333;
}

.submit-button{
  width: 80%;
  background-color: var(--secundary);
  border-radius: 5px;
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: ease 0.5s;
  text-align: center;
  text-decoration: none;
}

.submit-button:hover{
  background-color: var(--secundary-darker);
  cursor: pointer;
}

.btn-1{
  margin-top: 50px;
}